.container{
    transform: translateY(-80px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    gap:7px;
    align-items: center;
    margin-bottom:0px;
    
}
#qrpic{
    position: absolute;
    top:50%;
    left:49%;
    padding-left:40px;
    padding-top:200px;
}

@media (max-widt:1200px){
    #qrpic{
        position: absolute;
        top:58%;
        left:63%;
    }
}
